<div class="flex flex-col lg:flex-row">
  <div class="p-10 bg-blue-950 w-screen lg:w-96">

    <div class="pt-3">
      <form [formGroup]="formGroup">
        <input type="text" formControlName="nombre"
          class="w-full pl-3 py-1 border-2 border-gray-200 rounded-xl hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors"
          placeholder="Ingrese ciudad" />
        <div class="pt-6">
          <button (click)="buscar()"
            class="w-full middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">
            Realizar búsqueda
          </button>
        </div>
      </form>

      <ng-container *ngIf="!data || data.length === 0; else datosClima">
        <div class="flex flex-col pt-10 h-screen items-center mx-auto">
          <div>
            <h1 class="text-zinc-50 text-5xl text-center">Ingrese una ciudad</h1>
          </div>
        </div>
      </ng-container>

      <ng-template #datosClima>
        <div class="flex flex-col pt-10 h-screen items-center mx-auto">
          <img class="w-60" [src]=" data.current.condition.icon" alt="">
          <h1 class="text-zinc-50 text-6xl text-center">{{ data.current.temp_c }} °C</h1>
          <p class="text-zinc-50 pt-14 text-4xl">{{data.current.condition.text}}</p>

          <div class="flex flex-col items-center pt-32  h-40">
            <h1 class="text-zinc-50">{{data.location.localtime}}</h1>
            <p class="font-heading text-zinc-50 pt-4">{{data.location.name }}</p>
          </div>
        </div>
      </ng-template>

    </div>

  </div>

  <div class="bg-zinc-800 text-neutral-100 w-screen lg:w-4/5 ">

    <section class="">
      <ng-container *ngIf="!data || data.length === 0; else resultado">
        
      </ng-container>
      <ng-template #resultado>
        <h1 class="text-4xl text-center pt-4">Lo más destacado: </h1>

        <div class=" p-14 grid grid-cols-1  lg:grid-cols-2 gap-2 ">

          <div class="  p-6 pt-10 pb-10 px-8 md:px-16  rounded-5xl bg-zinc-900">
            <h3 class="text-4xl text-center">Humedad</h3>
            <h3 class="text-7xl text-center">{{ data.current.humidity }}%</h3>
          </div>


          <div class=" p-6 pt-10 pb-10 px-8 md:px-16 shadow-2xl rounded-5xl bg-zinc-900">
            <h3 class="text-4xl text-center">Velocidad de Viento</h3>
            <h3 class="text-7xl text-center">{{ data.current.wind_kph }} kph</h3>
          </div>

          <!-- Nubosidad -->
          <div class="p-6 pt-10 pb-10 px-8 md:px-16 shadow-2xl rounded-5xl bg-zinc-900">
            <h3 class="text-3xl text-center">Nubosidad</h3>
            <h3 class="text-7xl text-center">{{ data.current.cloud }}%</h3>
          </div>

          <!-- Visibilidad -->
          <div class="p-6 pt-10 pb-10 px-8 md:px-16 shadow-2xl rounded-5xl bg-zinc-900">
            <h3 class="text-3xl text-center">Visibilidad</h3>
            <h3 class="text-7xl text-center">{{ data.current.vis_km }} km</h3>
          </div>

          <!-- Índice UV -->
          <div class="p-6 pt-10 pb-10 px-8 md:px-16 shadow-2xl rounded-5xl bg-zinc-900">
            <h3 class="text-3xl text-center">Índice UV</h3>
            <h3 class="text-7xl text-center">{{ data.current.uv }}</h3>
          </div>

          <!-- Velocidad de Viento -->
          <div class="p-6 pt-10 pb-10 px-8 md:px-16 shadow-2xl rounded-5xl bg-zinc-900">
            <h3 class="text-3xl text-center">Temperatura Fahrenheit:</h3>
            <h3 class="text-7xl text-center">{{ data.current.temp_f }} °F</h3>
          </div>



        </div>

      </ng-template>


    </section>
  </div>
</div>